@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

h2 {
  margin: 0;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}
